* {
	box-sizing: border-box;
}

:hover {
	transition: color $transition-time-hover, background-color $transition-time-hover;
}

::selection {
	color: lighten($color-accent, 15%);
	background: $color-accent2;
  }

body {
	background-color: $color-bg;
	color: $color-text;
	font-family: $font-family-base;
	font-size: $font-size-s;
	font-weight: $font-weight-normal;
	margin: 0;
	padding: 0 0 (2rem + 2*$font-size-s) 0; // needs to match footer height
	min-height: 100%;
	position: absolute;
	top: 0;
	width: 100%;

	&.mobile-nav-open {
		overflow-y: hidden;
	}
}

@media only screen and (min-width: $screen-s) {
	body {
		padding: 0 0 (2rem + $font-size-s) 0;
	}
}

#body {
	margin-top: 5rem;
	transition: margin 0.5s;

	.scrolled & {
		margin-top: 3rem;
	}
}

.container {
	max-width: $screen-l;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: $color-accent;
	text-decoration: none;

	&:hover {
<<<<<<< HEAD
		color: $color-accent2
=======
		color: $color-accent-hover;
>>>>>>> master
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-header;
	font-weight: $font-weight-normal;
	margin-top: 2rem;
	margin-bottom: 1rem;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: $font-size-xxl;
	color: darken($color-text-header, 5%);

	code {
		font-size: $font-size-xxl - 0.75rem;
	}
}

h2 {
	font-size: $font-size-xl;
	color: darken($color-text-header, 10%);

	code {
		font-size: $font-size-xl - 0.5rem;
	}
}

h3 {
	font-size: $font-size-l;
	color: darken($color-text-header, 15%);

	code {
		font-size: $font-size-l - 0.375rem;
	}
}

h4 {
	font-size: $font-size-m;
	color: darken($color-text-header, 15%);

	code {
		font-size: $font-size-m - 0.25rem;
	}
}

h5 {
	font-size: $font-size-s;
	color: darken($color-text-header, 20%);

	code {
		font-size: $font-size-s - 0.2rem;
	}
}

h6 {
	font-size: $font-size-s;
	color: darken($color-text-header, 25%);

	code {
		font-size: $font-size-s - 0.2rem;
	}
}

input, textarea, button {
	font-family: $font-family-base;
	font-size: $font-size-s;
	color: $color-text;
}

input, textarea {
	border-radius: 0;
	border-width: 0.05rem;
	border-color: $color-border;
	border-style: solid;
	padding: 0.3rem;
	width: 100%;

	.bg-alt & {
		border-color: $color-border;
	}

	&:focus {
		border-color: $color-accent2;
	}
}

button {
	background-color: $color-accent;
	color: $color-bg;
	border: none;
	padding: 0.5rem;

	&:hover {
<<<<<<< HEAD
		background-color: darken($color-accent2, $darken-hover);
		color: lighten($color-accent, 15%);
=======
		background-color: $color-accent-hover;
>>>>>>> master
	}

	.bg-alt & {
		color: $color-bg-alt;
	}
}

.form-field {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.form-label {
	margin-bottom: 0.5rem;
}

.required {
	color: $color-required;
}

blockquote {
<<<<<<< HEAD
	background-color: darken(desaturate($color-accent, 60%), 40%);
	border-left: 0.5rem solid desaturate($color-accent2, 15%);
=======
	background-color: $color-bg-blockquote;
	border-left: 0.5rem solid $color-border-blockquote;
>>>>>>> master
	padding: 0.5rem;
	margin-left: 0.5rem;
	width: calc(100% - 0.5rem);

	>:first-child {
		margin-top: 0;
	}
  
	>:last-child {
		margin-bottom: 0;
	}
}

pre {
	margin: 0 1rem;
	padding: 0.7rem;
	border-radius: 0.2rem;
	background-color: $color-bg-code;
	overflow: auto;

	code {
		padding: 0;
	}
}

code {
	background-color: $color-bg-code;
	padding: 0 0.1rem;
	border-radius: 0.2rem;
	font-family: $font-family-mono;
	font-size: $font-size-s * 0.8;
}