.blog-post {
    padding: 2rem 1rem;
}

.blog-post__header__date {
    font-size: $font-size-xs;
}

.blog-post__divider {
    margin: 1rem 0 2rem 0;
}

.blog-post__content img {
    max-width: 100%;
}

@media only screen and (max-width: $screen-s) {
    .blog-post {
        h1 {
            font-size: $font-size-xl;
        }
        
        h2 {
            font-size: $font-size-l;
        }
        
        h3 {
            font-size: $font-size-m;
        }
        
        h4 {
            font-size: $font-size-s;
        }
        
        h5 {
            font-size: $font-size-s;
        }
        
        h6 {
            font-size: $font-size-s;
        }
    }
}