.blog {
    padding: 2rem 1rem;
}

.blog__card {
    width: 100%;
    box-shadow: 0.1rem 0.1rem 0.3rem;
    transition: box-shadow $transition-time-hover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    
    &:hover {
        box-shadow: 0.2rem 0.2rem 0.6rem;
    }
}

.blog__card__link {
    margin: 4rem 1rem;
    display: block;
    color: unset;

    &:hover {
        color: unset;
    }

    &:first-child {
        margin-top: 3rem;
    }
}

.blog__card__img {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.blog__card__content {
    margin: 1.5rem;
}

.blog__card__date {
    font-size: $font-size-xxs;
}

.blog__card__preview {
    margin-top: 1rem;
    overflow: hidden;
    padding-bottom: 0.25rem;
}

@media only screen and (min-width: $screen-xs) {
    .blog__card__img {
        height: 20rem;
    }
}

@media only screen and (min-width: $screen-s) {
    .blog__card__link {
        margin: 4rem 4rem;
    }

    .blog__card__img {
        height: 25rem;
    }
}

@media only screen and (max-width: $screen-m) {
    .blog__card__title {
        font-size: $font-size-m;
    }
}

@media only screen and (min-width: $screen-m) {
	.blog__card {
        width: 100%;
        height: 25rem;
    
        flex-direction: row;
    }
    
    .blog__card__link {
        margin: 4rem 0;
    }
    
    .blog__card__img {
        flex: 0 0 40%;
        align-self: stretch;
        height: unset;
    }
    
    .blog__card__content {
        max-height: 100%;
        overflow: hidden;
        flex: 0 0 calc(60% - 3rem);

        &.no-img {
            flex: 0 0 calc(100% - 3rem);
        }
    }
    
    .blog__card__date {
        font-size: $font-size-xxs;
    }
}

@media only screen and (min-width: $screen-l) {
    .blog__card {
        height: 20rem;
    }
}