.header {
	padding: 0 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5rem;
	z-index: 2;
	background-color: $color-bg;
	border-bottom: 0.03rem $color-border solid;
	transition: all 0.5s ease;

	.scrolled & {
		height: 3rem;
	}
}

.header__content {
	max-width: $screen-l;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

/*.header__dual__logo {

}*/

.logo__img {
	height: 3rem;
	transition: all 0.5s ease;

	.scrolled & {
		height: 2rem;
	}
}

.logo__img__1 {
	height: 3rem;
	opacity: 100%;
	z-index: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	transition: all 0.5s ease;

	.scrolled & {
		height: 2rem;
		opacity: 0%;
	}
}

.logo__img__2 {
	height: 3rem;
	opacity: 0%;
	z-index: 1;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	transition: all 0.5s ease;

	.scrolled & {
		height: 2rem;
		opacity: 100%;
	}
}