.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.intro__img {
	flex: 0 100%;
	width: 50%;
}

.intro__content {
	flex: 0 100%;
	text-align: center;
}

.intro__content.with-img {
	margin-top: 2rem;
}

@media only screen and (min-width: $screen-s) {
	.intro {
		flex-direction: row;
	}

	.intro__img {
		flex: 0 40%;
	}

	.intro__content {
		flex: 0 100%;
		text-align: left;
	}

	.intro__content.with-img {
		flex: 0 calc(60% - 2rem);
		margin-left: 2rem;
	}
}

@media only screen and (min-width: $screen-m) {
	.intro__img {
		flex: 0 33%;
	}

	.intro__content {
		flex: 0 100%;
	}

	.intro__content.with-img {
		flex: 0 calc(75% - 2rem);
	}
}

.intro__links {
	font-size: $font-size-m;

	a {
		margin-left: 0.5rem;
		margin-right: 0;

		&:first-child {
			margin-left: 0;
		}
	}
}