ul.navigation {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		font-weight: $font-weight-bold;
	}

	ul {
		list-style: none;
	}
}

.nav--main__nav {
	display: none;

	ul.navigation > li {
		font-size: $font-size-xs;
		margin-right: 0;
		position: relative;

		a {
			color: $color-text;

			&.active, &:hover {
				color: $color-accent;
			}
		}

		> ul {
			visibility: hidden;
			opacity: 0;
			border: 0.03rem $color-bg-hover solid;
			border-top: none;
			height: 0;
			transition: opacity .35s,visibility .35s,height .35s,padding .35s,top .5s;
			background-color: $color-bg;
			position: absolute;
			top: 2.97rem;
			left: -0.5rem;
			padding: 0 0.5rem;
			overflow: hidden;

			.scrolled & {
				top: 1.97rem;
			}

			li {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	
		&.expanded > ul {
			display: block;
			visibility: visible;
			opacity: 1;
			height: min-content;
			padding-bottom: 0.5rem;
		}

		.nav__dropdown {
			background: none;
			padding: 0;
			color: $color-text;
			font-size: $font-size-xs;

			&:hover {
				color: $color-text-hover;
			}
		}

		.nav__dropdown__icon {
			width: 1rem;
			text-align: right;
		}
	}
}

@media only screen and (max-width: $screen-l + 200px) {
	.nav--main__nav ul.navigation > li:last-child > ul {
		left: unset;
		right: -0.5rem;
	}
}

.nav--mobile__nav {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;

	.navigation li {
		font-size: $font-size-s;
		margin-top: 1rem;

		.nav__dropdown {
			display: none;
		}

		&:first-child {
			margin-top: 0;
		}
	
		a {
			color: $color-bg;
	
			&.active, &:hover {
				color: $color-accent;
			}
		}

		ul {
			margin-top: 1rem;
		}

		i {
			display: none;
		}
	}
}

.nav--mobile__toggle {
	position: fixed;
	z-index: 100;
	top: 1.75rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	transition: opacity .25s ease, top .5s ease;
	background-color: unset;
	padding: 0;
	margin: 0;

	span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 0.3rem;
		cursor: pointer;
		transition: all .35s ease, background-color 0s;
		border: none;
		background-color: $color-accent;

		&.top{
			top: 0;
		}

		&.middle{
			top: 0.6rem;
		}

		&.bottom{
			top: 1.2rem;
		}
	}

	&:hover {
		background-color: unset;

		span {
			background-color: $color-accent;
		}
	}

	&.active {
		span {
			background-color: $color-bg;

			&.top{
				transform: translateY(0.6rem) translateX(0) rotate(45deg);
			}
	
			&.middle{
				opacity: 0;
			}
	
			&.bottom{
				transform: translateY(-0.6rem) translateX(0) rotate(-45deg);
			}
			
		}

		&:hover span {
			background-color: $color-bg-hover;
		}
	}

	.scrolled & {
		top: 0.75rem;
	}
}

.nav--mobile__overlay {
	visibility: hidden;
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	transition: opacity .35s,visibility .35s,height .35s;
	background-color: black;
	padding: 1rem;
	overflow: hidden;

	.logo__img {
		height: 3rem;
	}

	&.open {
		visibility: visible;
		height: 100%;
		opacity: 0.95;
	}
}

@media only screen and (min-width: $screen-m) {
	.nav--main__nav {
		display: block;

		ul.navigation {

			> li {
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
				margin-left: 2rem;
				margin-right: 0;
		
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	.nav--mobile__toggle {
		display: none;
	}

	.nav--mobile__overlay.open {
		display: none;
	}
}