.projects__cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
}

.projects__card {
	flex: 0 calc(100% - 4rem);
	max-width: $screen-xs;
	margin: 2rem auto;
	text-align: center;
	transition: border-radius $transition-time-hover, border-color $transition-time-hover, background-color $transition-time-hover;
	border-style: solid;
    border-radius: 20px 50px 20px;
	border-color: $color-accent2;
	background-color: desaturate(darken($color-accent2, 35%), 70%);

	.projects__card__img{		
		border-radius: 20px 50px 0px;
		transition: border-radius $transition-time-hover;
	}

	&:hover {
		border-color: $color-accent;
        border-radius: 8px;
		background-color: desaturate(darken($color-accent, 40%), 70%);
		
		.projects__card__img{		
			border-radius: 8px 8px 0px 0px;
		}
	}

	a {
		width: 100%;
		color: $color-text;

		&:hover {
<<<<<<< HEAD
			color: lighten($color-accent, 15%);
=======
			color: $color-text-hover;
>>>>>>> master
		}
	}
}

@media only screen and (min-width: $screen-s) {
	.projects__cards {
		flex-direction: row;
	}

	.projects__card {
		flex: 0 calc(50% - 4rem);
		margin: 2rem;
	}
}

@media only screen and (min-width: $screen-m) {
	.projects__card {
		flex: 0 calc(33% - 4rem);
	}
}

.projects__card__img {
	width: 100%;
}

.projects__card__txt {
	padding: 0.7rem;
}