.projects__cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items:flex-start;
	align-content: center;
}

.projects__item {
	flex: 0 calc(100% - 4rem);
	max-width: $screen-xs;
	margin: 2rem auto;
	text-align: center;

	background-color: $color-bg-hover;;
	border: 1px solid;
	border-radius: 2rem 4rem 2rem;
	border-color: $color-accent-hover;
	transition: border-radius $transition-time-hover, border-color $transition-time-hover, background-color $transition-time-hover;

	.projects__card__img {		
		border-radius: 2rem 4rem 0rem 0rem;
		padding: 2rem;
		transition: border-radius $transition-time-hover;
	}

	.projects__card__txt {		
		border-radius: 2rem 4rem 0rem 0rem;
		padding: 1rem;
		transition: border-radius $transition-time-hover;
	}

	&:hover {
		border-radius: 1rem;
		border-color: $color-accent;
		background-color: $color-bg-code;

		.projects__card__img {
			border-radius: 1rem 1rem 0rem 0rem;
		}
		.projects__card__txt {
			border-radius: 1rem;
		}
	}

	a {
		width: 100%;
		color: $color-text;

		&:hover {
			color: $color-text-hover;
		}
	}
}

@media only screen and (min-width: $screen-s) {
	.projects__cards {
		flex-direction: row;
	}

	.projects__item {
		flex: 0 calc(50% - 4rem);
		margin: 2rem;
	}
}

@media only screen and (min-width: $screen-m) {
	.projects__item {
		flex: 0 calc(33% - 4rem);
	}
}

.projects__card__img {
	width: 100%;
}

.projects__card__txt {
	padding: 1rem;
}
