@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

@import 'variables';
@import 'base';
@import 'header';
@import 'footer';
@import 'navigation';
@import 'error';
@import 'modular';
@import 'intro';
@import 'about';
@import 'projects';
@import 'contact';