// Colors
$color-bg: var(--webfolio-color-bg);
$color-bg-alt: var(--webfolio-color-bg-alt);
$color-bg-blockquote: var(--webfolio-color-bg-blockquote);
$color-bg-code: var(--webfolio-color-bg-code);
$color-bg-hover: var(--webfolio-color-bg-hover);
$color-text: var(--webfolio-color-text);
$color-text-light: var(--webfolio-color-text-light);
$color-text-dark: var(--webfolio-color-text-dark);
$color-text-hover: var(--webfolio-color-text-hover);
$color-accent: var(--webfolio-color-accent);
$color-accent-hover: var(--webfolio-color-accent-hover);
$color-required: var(--webfolio-color-required);
$color-border: var(--webfolio-color-border);
$color-border-blockquote: var(--webfolio-color-border-blockquote);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
$font-family-header: 'Francois One', sans-serif;
$font-family-base: 'Open Sans', sans-serif;
$font-family-mono: 'Source Code Pro', monospace;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-size-base: 1.5rem;
$font-size-xxs: 0.5 * $font-size-base; 
$font-size-xs: 0.65 * $font-size-base; 
$font-size-s: 0.75 * $font-size-base; 
$font-size-m: 1 * $font-size-base; 
$font-size-l: 1.325 * $font-size-base; 
$font-size-xl: 1.75 * $font-size-base; 
$font-size-xxl: 2.25 * $font-size-base; 

// Screen sizes;
$screen-xxs: 200px;
$screen-xs: 400px;
$screen-s: 600px;
$screen-m: 800px;
$screen-l: 1000px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// Misc
$transition-time-hover: 0.25s;
