{% extends 'partials/module-base.html.twig' %}

{% block module_content %}
    <div class="about">
        {{ content|raw }}
        
        <div class="about__details">
            {% for detail in page.header.details %}
                <div class="about__detail">
                    <div class="about__detail__icon">
                        <i class="{{ detail.icon }}"></i>
                    </div>
                    <h4>{{ detail.title }}</h4>
                    <div>{{ detail.content }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
